body{
    /* background-color: red; */
}
.first-header{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #131921;
    padding: 1.5%;
    align-items: center;
    margin-bottom: 0px;
    
}

.navbar_items{
    /* border: 3px solid green; */
    color: #fff;
}
#navbar_items_1{
    /* color: white; */
    height: 60px;
    width: 8%;
    /* display: flex; */
    /* background-color: rgb(255, 255, 255); */
    background-image: url("https://th.bing.com/th/id/OIP.-3Ra-eqVzf_QBzv6fhKUAgHaC9?w=349&h=139&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: 180%;
    background-position-y: 55%;
    background-position-x: 50%;
}
.navbar_items_2_1{
    color: #ccc;
}
.navbar_items_2_2{
    color: #fff;
}
.search_bar{
    display: flex;
}
img{
    object-fit: contain;
    height: 30px;
}
.dropdown{
    
    background-color: #e6e6e6;
    color:#131921;
    
}
.search_icon{
    background-color: #febd69;
    height: 30px;
    border-radius: 3px;
}
.search_bar ul{
    display: none;
    list-style-type: none;
    color: aqua;
    position: absolute;
    background-color: bisque;
    padding: 0;
    margin-top:20px;
}
.search_bar input{
    width:700px;
}
.language_icon{
    background-image: url("https://m.media-amazon.com/images/S/sash/Z8YwjOjqIHxqujG.png");
     width:24px;
    background-position-y: -130px;
    background-position-x: left;
    height: 18px;
    display: flex;
}
#navbar_items_4{
    display: flex;
}
.sign_in,.returns{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.account_list,.orders{
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.cart_icon img{
    object-fit: cover;
    width: 35px;
    height: 35px;
}

.second-header{
    background-color: #febd69;
    display: flex;
    justify-content:flex-start;
    list-style-type: none;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
}
.second-header li{
    margin-right: 20px;
}

.crousel_container{
    /* border: 3px solid red; */
    

}
.crousel_items{
    border: 3px solid green;
    position: absolute;
    height: 80vh;
}
#c_i_1{
    width:0px;
}
#c_i_2{
    width:98.7%;
    img{
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    
}
#c_i_3{
    width:0px;
    margin-left: 98.7%;
}
#c_i_4{
    width:0px;
    margin-left: 98.7%;
}

.crousel_arrows{
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    
}
.left_arrow{
    margin-top: 10%;
    border: 3px solid black;
    padding-block: 40px;
    padding-inline: 13px;
    z-index: 1;
}
.right_arrow{
    margin-top: 10%;
    border: 3px solid black;
    padding-block: 40px;
    padding-inline: 13px;
    z-index: 1;
}
.crousel_bar{
    margin: auto;
    position: relative;
    background-color: #fff;
    margin-top: 5%;
    width: 98%;
    text-align: center;
    padding-block: 10px;
}
.crousel_box{
    border: 3px solid violet;
    width: 98%;
    position: relative;
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 840px;
    /* align-items: ce; */
}

.crousel_box_items{
    border: 2px solid orange;
    width: 24%;
    height: 400px;
    background-color: white;

    .crousel_box_items_heading{
        /* border: 1px solid rgb(238, 255, 0); */
        margin-top: 5%;
        margin-bottom: 3%;
        font-family: Arial, sans-serif;
        font-size: 21px !important;
        font-weight: 700;
        margin-left: 4%;
    }

    .crousel_box_items_elements{
        /* border:1px solid rgb(0, 0, 0); */
        display: flex;
        flex-wrap: wrap;
        height: 75%;
    }

    .crousel_box_items_seemore{
        /* border: 1px solid rgb(0, 242, 255); */
        margin-block: 5%;
        color: #007185;
        cursor: pointer;
        font-size: 13px;
        font-family: Arial, sans-serif;
        margin-left: 4%;
    }
}

.crousel_box_items_elements_items{
    /* border: 1px solid rgb(255, 0, 43); */
    width: 49.5%;
    img {
        /* border: 2px solid black; */
        width: 85%;
        height: 85%;
        object-fit: none;
        margin-left: 8%;
    }
    .crousel_box_items_elements_items_name{
        /* border: 2px solid blue; */
        width: 100%;
        height: 10%;
        margin-block: -3%;
        font-size: 12px !important;
        font-family: Arial, sans-serif;
        cursor: pointer;
        margin-left: 8%;
    }
}
.crousel_box_items_one_box{
    border:5px solid yellow;
    width: 85%;
    margin:auto;
    height:73%;
    /* margin-top:5%; */
    img{
        width:100%;
        object-fit: fill;
        height: 100%;
    }
}

.crousel_strip{
    width: 98%;
    margin: auto;
    border: 3px solid rgb(47, 0, 255);
    height: 300px;
    position: relative;
    overflow: hidden;
}

.crousel_strip_header{
    margin-top: 1%;
        margin-bottom: 3%;
        font-family: Arial, sans-serif;
        font-size: 21px !important;
        font-weight: 700;
        margin-left: 1%;
}

.crousel_strip_left{
    position: absolute;
    border: 3px solid grey;
    left: 0px;
    padding: 10px;
    margin-block: 3%;
}

.crousel_strip_right{
    position: absolute;
    border: 3px solid violet;
    right: 0px;
    padding: 10px;
}

.crousel_strip_items{
    
    ul{
        list-style: none;
        display: inline-block;
        margin-left: 1%;
        padding: 0px;
        

        li{
            /* display: inline-block; */
            position: absolute;
            /* left:100%; */
            width: 200px;
            height: 200px;
            margin-inline: 1%;
            margin-top: -3%;
            margin-left: 3%;
            transition: 2s ease-in-out;
            

            img{
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
            
        }
    }
}
.crousel_strip_slider{
    border: 3px solid red;
    margin-block:11%;
}