body {
    background-color: #e3e6e6;
    margin-top: -1.5%;
}

/* HEADER STYLES */
.first-header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #131921;
    padding: 1.5%;
    align-items: center;
    margin-bottom: 0;
}

.navbar {
    margin-left: -8px;
    margin-right: -8px;
}

.navbar_items {
    color: #fff;
}

#navbar_items_1 {
    height: 53px;
    width: 8%;
    background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB541706272_.png);
    background-position: 0 -114px;
    cursor: pointer;
}

.navbar_items_2_1 { color: #ccc; }